  
#change-photo {
  form {
      align-items: center;
      margin-top: var(--space);
      img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
      }
      #file {
          display: none;
      }
      .choose-photo {
          margin: var(--space) 0;
          min-width: 256px;

      }
  }
}

@media (min-width: 1200px) {
  #change-photo {
      form {
          img {
              width: 256px;
              height: 256px;
          }
      }
  }
}