* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--bg-color);
}

hr {
  &.divider {
    background-color: var(--gray-3);
    height: 1px;
    width: calc(100% - 2em);
    margin: 3em 0;
    border: none;
    align-self: center;
  }
}