form {
  flex-direction: column;
  width: 100%;
  padding: 0 var(--space);

  .fields {
    flex-direction: column;
  }

  .field {
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-bottom: var(--space);

    label {
      color: var(--gray-3);
      font-size: 14px;
      position: absolute;
      top: 10px;
      left: 10px;
      transition: color .3s ease-in-out;
      z-index: 2;
    }

    input, textarea, select {
      border: var(--gray-3) 1px solid;  
      line-height: 1.5em;
      padding: 10px;
      padding-top: 33px;
      font-size: 16px;
      color: var(--dark-0);
      outline: none;
      border-radius: var(--border-radius);
      position: relative;
      z-index: 1;
      top: 0;
      transition: border-color .3s ease-in-out;
      width: 100%;
      background-color: transparent;
      
      &:focus {
        border-color: var(--green);

        + label {
          color: var(--green);
        }
      }

      &[readonly] {
        border: none;
        color: var(--black);
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;
        padding-bottom: 0;

        + label {
          color: var(--gray-0);
          text-transform: uppercase;
        }
      }
    }
  }

  button {
    @include button-green;
  }
}

@media (min-width: 1200px) {
  form {
    max-width: 400px;
    
    .fields {
      flex-direction: row;

      .field {
        margin-right: var(--space);

        &:last-child {
          margin-right: 0;
        }

        textarea {
          min-height: 250px;
        }
      }

      button {
        max-width: 340px;
      }
    }
  }
}