.loading-wrap {
  align-items: center;
  justify-content: center;
  .loading {
      margin-right: 5px;
      position: relative;
      width: 32px;
      height: 32px;
      div {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          position: absolute;
          border: 3px solid var(--green);
          border-color: var(--green) transparent transparent transparent;
          animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          &:nth-child(1) {
              animation-delay: -0.45s;
          }
          &:nth-child(2) {
              animation-delay: -0.3s;
          }
          &:nth-child(3) {
              animation-delay: -0.15s;
          }
      }
  }
}

@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}