@import 'fonts.scss';
@import 'variables.scss';
@import 'default.scss';
@import 'loading.scss';
@import 'mixin.scss';
@import 'toast.scss';
@import 'form.scss';
@import 'page.scss';
@import 'calendar.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'alert.scss';
@import 'home.scss';
@import 'services.scss';
@import 'contact.scss';
@import 'auth.scss';
@import 'change-photo.scss';
@import 'change-password.scss';