#schedules-complete {
  main {
      p {
          margin: 0 var(--space);
          font-size: 22px;
          color: var(--gray-0);
          margin-bottom: var(--space);
          small {
              display: block;
              font-size: 16px;
          }
      }
      footer {
          &.fixed {
              justify-content: center;
              a {
                  @include button-green;
                  padding: 0 var(--space);
              }
          }
      }
  }
}

@media (min-width: 1200px) {
  #schedules-complete {
      main {
          footer {
              &.fixed {
                  justify-content: flex-start;
              }
          }
      }
  }
}