@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Nothing";
  src: local("Nothing You Could Do"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Teko";
  src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
:root {
  --bg-color: #FFF;
  --white: #FFF;
  --black: #000;
  --black-hover: #111;
  --black-active: #222;
  --black-10: #0000001a;
  --black-50: rgba(0, 0, 0, .5);
  --black-75: #000000bf;
  --dark-0: #333;
  --dark-1: #000000BF;
  --gray: #79756C;
  --gray-0: #707070;
  --gray-1: #7E7E7E;
  --gray-2: #9A9A99;
  --gray-3: #CCC;
  --gray-4: #00000029;
  --gray-5: #E5E3DFBF;
  --gray-6: #F8F8F8;
  --gray-7: #E5E3DF;
  --gray-8: #DDD;
  --gray-9: #999;
  --gray-10: #EEE;
  --gray-11: #444;
  --gray-12: #E8E8E8;
  --red: #E32119;
  --red-hover: #E44238;
  --red-active: #C91D16;
  --green: #00994D;
  --green-hover: #00BE60;
  --green-active: #00773C;
  --blue: #199BD4;
  --blue-hover: #1CABE9;
  --blue-active: #00A0E6;
  --success: #D4EDDA;
  --success-border: #c3E6CB;
  --success-color: #155724;
  --danger: #F8D7DA;
  --danger-border: #F5C6CB;
  --danger-color: #721C24;
  --space: 20px;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--bg-color);
}
body > main {
  min-height: calc(100vh - 400px);
}

hr.divider {
  background-color: var(--gray-3);
  height: 1px;
  width: calc(100% - 2em);
  margin: 3em 0;
  border: none;
  align-self: center;
}

@media (min-width: 1200px) {
  body > main {
    min-height: calc(100vh - 341px);
  }
}
.loading-wrap {
  align-items: center;
  justify-content: center;
}
.loading-wrap .loading {
  margin-right: 5px;
  position: relative;
  width: 32px;
  height: 32px;
}
.loading-wrap .loading div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  border: 3px solid var(--green);
  border-color: var(--green) transparent transparent transparent;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.loading-wrap .loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-wrap .loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-wrap .loading div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.toast {
  position: relative;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: var(--space);
  border: 1px solid transparent;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.toast .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  background: none;
  border: none;
  font-size: 32px;
  transition: 0.3s;
  color: var(--black-50);
  min-width: 50px;
  margin: 15px;
}
.toast .close:hover {
  color: var(--black-75);
}
.toast.sucess {
  color: var(--success-color);
  border-color: var(--success-border);
  background-color: var(--success);
}
.toast.danger {
  color: var(--danger-color);
  border-color: var(--danger-border);
  background-color: var(--danger);
}

form {
  flex-direction: column;
  width: 100%;
  padding: 0 var(--space);
}
form .fields {
  flex-direction: column;
}
form .field {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--space);
}
form .field label {
  color: var(--gray-3);
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: color 0.3s ease-in-out;
  z-index: 2;
}
form .field input, form .field textarea, form .field select {
  border: var(--gray-3) 1px solid;
  line-height: 1.5em;
  padding: 10px;
  padding-top: 33px;
  font-size: 16px;
  color: var(--dark-0);
  outline: none;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
  top: 0;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  background-color: transparent;
}
form .field input:focus, form .field textarea:focus, form .field select:focus {
  border-color: var(--green);
}
form .field input:focus + label, form .field textarea:focus + label, form .field select:focus + label {
  color: var(--green);
}
form .field input[readonly], form .field textarea[readonly], form .field select[readonly] {
  border: none;
  color: var(--black);
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 0;
}
form .field input[readonly] + label, form .field textarea[readonly] + label, form .field select[readonly] + label {
  color: var(--gray-0);
  text-transform: uppercase;
}
form button {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--green);
  color: var(--white);
}
form button:hover {
  background-color: var(--black-10);
}
form button:active {
  background-color: var(--black-75);
}
form button:hover {
  background-color: var(--green-hover);
}
form button:active {
  background-color: var(--green-active);
}

@media (min-width: 1200px) {
  form {
    max-width: 400px;
  }
  form .fields {
    flex-direction: row;
  }
  form .fields .field {
    margin-right: var(--space);
  }
  form .fields .field:last-child {
    margin-right: 0;
  }
  form .fields .field textarea {
    min-height: 250px;
  }
  form .fields button {
    max-width: 340px;
  }
}
header.page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
header.page-title h1, header.page-title h2, header.page-title h3, header.page-title h4, header.page-title h5, header.page-title h6 {
  color: var(--green);
  margin: 0;
  font-size: 23px;
  font-weight: 600;
}
header.page-title hr {
  width: 68px;
  border: none;
  border-top: 4px solid var(--red);
  margin: 10px 0;
}

.page {
  flex-direction: column;
  height: calc(100vh - 140px);
  overflow: auto;
}
.page aside {
  width: 100%;
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 80px;
  height: 50px;
  background-color: var(--gray-12);
  border-bottom: var(--gray-3) 1px solid;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
.page aside header {
  font-size: 32px;
  color: var(--dark-0);
  height: 130px;
  justify-content: center;
  align-items: center;
  display: none;
}
.page aside section {
  padding: 0 var(--space);
  display: none;
  flex: 1;
  max-height: calc(100vh - 339px);
  overflow-y: auto;
}
.page aside section table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: var(--gray-3) 1px solid;
}
.page aside section table td {
  padding: var(--space) 0;
  border-top: var(--gray-3) 1px solid;
}
.page aside section table td.price {
  text-align: right;
}
.page aside footer {
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  font-size: 18px;
  color: var(--dark-0);
}
.page aside footer .total {
  font-weight: bold;
  margin-left: var(--space);
  text-align: right;
}
.page aside footer button {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  min-width: 50px;
  width: 50px;
}
.page aside footer button:hover {
  background-color: var(--black-10);
}
.page aside footer button:active {
  background-color: var(--black-75);
}
.page aside footer button svg {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
.page aside.open {
  height: calc(100vh - 158px);
}
.page aside.open header, .page aside.open section {
  display: flex;
}
.page aside.open footer button svg {
  transform: rotate(180deg);
}
.page .page-title {
  margin: var(--space);
  width: calc(100% - calc(var(--space) * 2));
}
.page > header {
  width: 100%;
  min-height: 130px;
  background-color: var(--black);
  color: var(--white);
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.page > header h1 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}
.page > header h1 small {
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.page > main {
  margin-bottom: 80px;
  flex-direction: column;
}
.page > main .toast {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.page > main .toast.open {
  transform: translateY(-80px);
}
.page footer.fixed {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--gray-12);
  height: 80px;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  z-index: 4;
}
.page footer.fixed button, .page footer.fixed a {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--gray-3);
  color: var(--gray-0);
}
.page footer.fixed button:hover, .page footer.fixed a:hover {
  background-color: var(--black-10);
}
.page footer.fixed button:active, .page footer.fixed a:active {
  background-color: var(--black-75);
}
.page footer.fixed button:hover, .page footer.fixed a:hover {
  background-color: var(--gray-hover);
}
.page footer.fixed button:active, .page footer.fixed a:active {
  background-color: var(--gray-active);
}
.page footer.fixed button[type=submit], .page footer.fixed a.black {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--black);
  color: var(--white);
}
.page footer.fixed button[type=submit]:hover, .page footer.fixed a.black:hover {
  background-color: var(--black-10);
}
.page footer.fixed button[type=submit]:active, .page footer.fixed a.black:active {
  background-color: var(--black-75);
}
.page footer.fixed button[type=submit]:hover, .page footer.fixed a.black:hover {
  background-color: var(--black-hover);
}
.page footer.fixed button[type=submit]:active, .page footer.fixed a.black:active {
  background-color: var(--black-active);
}
.page.blue > header {
  background-color: var(--blue);
}
.page.blue footer.fixed button[type=submit], .page.blue footer.fixed a.black {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--blue);
  color: var(--white);
}
.page.blue footer.fixed button[type=submit]:hover, .page.blue footer.fixed a.black:hover {
  background-color: var(--black-10);
}
.page.blue footer.fixed button[type=submit]:active, .page.blue footer.fixed a.black:active {
  background-color: var(--black-75);
}
.page.blue footer.fixed button[type=submit]:hover, .page.blue footer.fixed a.black:hover {
  background-color: var(--blue-hover);
}
.page.blue footer.fixed button[type=submit]:active, .page.blue footer.fixed a.black:active {
  background-color: var(--blue-active);
}
.page.green > header {
  background-color: var(--green);
}
.page.green footer.fixed button[type=submit], .page.green footer.fixed a.black {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--green);
  color: var(--white);
}
.page.green footer.fixed button[type=submit]:hover, .page.green footer.fixed a.black:hover {
  background-color: var(--black-10);
}
.page.green footer.fixed button[type=submit]:active, .page.green footer.fixed a.black:active {
  background-color: var(--black-75);
}
.page.green footer.fixed button[type=submit]:hover, .page.green footer.fixed a.black:hover {
  background-color: var(--green-hover);
}
.page.green footer.fixed button[type=submit]:active, .page.green footer.fixed a.black:active {
  background-color: var(--green-active);
}

@media (min-width: 1200px) {
  header.page-title h1, header.page-title h2, header.page-title h3, header.page-title h4, header.page-title h5, header.page-title h6 {
    font-size: 30px;
  }

  .page aside, .page aside.open {
    width: 375px;
    height: calc(100vh - 118px);
    bottom: 0;
    z-index: 4;
  }
  .page aside header, .page aside section, .page aside.open header, .page aside.open section {
    display: flex;
  }
  .page aside header, .page aside.open header {
    height: 160px;
  }
  .page aside footer, .page aside.open footer {
    height: 80px;
  }
  .page aside footer > div, .page aside.open footer > div {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
  }
  .page aside footer > div .total, .page aside.open footer > div .total {
    font-size: 29px;
  }
  .page aside footer button, .page aside.open footer button {
    display: none;
  }
  .page > header {
    justify-content: flex-start;
    padding-left: 185px;
    min-height: 160px;
  }
  .page > header h1 {
    font-size: 32px;
  }
  .page footer.fixed {
    justify-content: flex-start;
  }
  .page footer.fixed button + button, .page footer.fixed a + a, .page footer.fixed button + a, .page footer.fixed a + button {
    margin-right: var(--space);
  }
  .page footer.fixed button, .page footer.fixed a {
    order: 1;
  }
  .page footer.fixed button:first-child, .page footer.fixed a:first-child {
    order: 2;
  }
}
.calendar {
  flex-direction: column;
  padding: 0 var(--space);
  margin-bottom: var(--space);
}
.calendar .month {
  justify-content: space-between;
  align-items: center;
  color: var(--gray-2);
  margin-bottom: 10px;
  text-transform: uppercase;
}
.calendar .month h2 {
  font-size: 22px;
  font-weight: 400;
}
.calendar .month button {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  border: var(--gray-2) 2px solid;
  border-radius: var(--border-radius);
  color: var(--gray-2);
}
.calendar .month button:hover {
  background-color: var(--black-10);
}
.calendar .month button:active {
  background-color: var(--black-75);
}
.calendar .month nav button {
  min-width: 50px;
}
.calendar .month nav button + button {
  margin-left: 10px;
}
.calendar .month .btn-today {
  display: none;
}
.calendar ul {
  margin: 0;
  padding: 0;
}
.calendar .weekdays {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--gray-0);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar .weekdays li {
  justify-content: center;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold;
}
.calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 12vw);
  grid-gap: 10px;
  color: var(--dark-0);
}
.calendar .days li {
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.calendar .days li:hover {
  background-color: var(--gray-7);
}
.calendar .days li.active {
  background-color: var(--blue);
  color: var(--white);
}
.calendar .days li.active:hover {
  background-color: var(--blue-hover);
}
.calendar .days li.active:active {
  background-color: var(--blue-active);
}
.calendar .days li.selected {
  background-color: var(--green);
  color: var(--white);
}
.calendar .days li.selected:hover {
  background-color: var(--green-hover);
}
.calendar .days li.selected:active {
  background-color: var(--green-active);
}

@media (min-width: 992px) {
  .calendar {
    max-width: 839px;
  }
  .calendar .month {
    margin: var(--space) 0;
  }
  .calendar .month h2 {
    font-size: 44px;
  }
  .calendar .month .btn-today {
    display: flex;
  }
  .calendar .weekdays li {
    font-size: 21px;
    font-weight: bold;
  }
  .calendar .days {
    grid-template-rows: repeat(5, calc(992px / 7));
  }
  .calendar .days li {
    font-size: 38px;
  }
}
#header {
  min-width: 320px;
  width: 100%;
  height: 60px;
  background-color: var(--gray-5);
  position: relative;
  z-index: 5;
}
#header .italy {
  width: 100%;
  position: absolute;
  top: 60px;
  background-color: var(--white);
  border: none;
  border-top: var(--green) 6px solid;
  border-bottom: var(--red) 6px solid;
  height: 18px;
  margin: 0;
}
#header .logo {
  position: absolute;
  transition: all 1s ease-in-out;
  top: 15px;
  width: 72px;
  right: calc(50vw - 36px);
  z-index: 7;
}
#header .menu {
  transition: right 0.5s ease-in-out;
  width: 300px;
  height: 100vh;
  padding-bottom: 50px;
  background-color: var(--gray-7);
  position: fixed;
  right: -300px;
  top: 0;
  z-index: 6;
  flex-direction: column;
  justify-content: space-between;
}
#header .menu hr {
  width: 100%;
  border-bottom: none;
  border-color: var(--black-10);
  margin: 0;
}
#header .menu.logged nav ul li.divider {
  display: flex;
}
#header .menu.logged nav ul li.hide-guest {
  display: flex;
}
#header .menu.logged .footer > div {
  display: flex;
}
#header .menu.logged .footer > a.btn-register {
  display: none;
}
#header .menu nav {
  flex-direction: column;
}
#header .menu nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
  margin-top: 169px;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}
#header .menu nav ul li {
  padding: 14px 0;
  list-style: none;
  justify-content: center;
}
#header .menu nav ul li a {
  text-decoration: none;
  color: var(--gray-0);
}
#header .menu nav ul li.hide-guest, #header .menu nav ul li.divider {
  display: none;
}
#header .menu nav ul li hr {
  margin: 15px 0;
}
#header .menu .footer {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#header .menu .footer > div {
  display: none;
  padding: 15px;
  width: 100%;
  align-items: center;
}
#header .menu .footer > div picture {
  margin-right: 10px;
}
#header .menu .footer > div picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#header .menu .footer > div > div {
  flex-direction: column;
  flex: 1;
}
#header .menu .footer > div a {
  color: var(--dark-0);
  text-decoration: none;
  font-size: 16px;
}
#header .menu .footer > div a small {
  color: var(--gray-2);
  font-size: 12px;
}
#header .menu .btn-register {
  margin: 20px;
  width: calc(300px - 40px);
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--green);
  color: var(--white);
}
#header .menu .btn-register:hover {
  background-color: var(--black-10);
}
#header .menu .btn-register:active {
  background-color: var(--black-75);
}
#header .menu .btn-register:hover {
  background-color: var(--green-hover);
}
#header .menu .btn-register:active {
  background-color: var(--green-active);
}
#header button {
  background: none;
  border: none;
  outline: none;
  padding: 13px;
}
#header #btn-open, #header #btn-close {
  position: absolute;
  right: 0;
}

.open-menu {
  overflow: hidden;
}
.open-menu #header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-1);
  z-index: 5;
}
.open-menu #header .menu {
  right: 0;
}
.open-menu #header .logo {
  right: 87px;
  width: 120px;
}

@media (min-width: 1200px) {
  .open-menu {
    overflow: initial;
  }
  .open-menu #header .overlay {
    display: none;
  }
  .open-menu #header .logo {
    width: 100px;
    top: 17px;
    right: calc(100vw - 150px);
  }

  #header {
    height: 100px;
  }
  #header .italy {
    top: 100px;
  }
  #header .logo {
    width: 100px;
    top: 17px;
    right: calc(100vw - 150px);
  }
  #header #btn-open, #header #btn-close {
    display: none;
  }
  #header .menu {
    right: initial;
    position: static;
    background-color: initial;
    width: 100%;
    height: 100px;
    flex-direction: row;
    margin-left: 150px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
  #header .menu .btn-register {
    margin: 0;
    margin-right: 30px;
    width: 200px;
  }
  #header .menu nav {
    width: 100%;
  }
  #header .menu nav ul {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
  }
  #header .menu nav ul li a {
    font-size: 18px;
    min-width: 120px;
    padding: 10px 0;
    text-align: center;
  }
  #header .menu nav ul li a:hover {
    color: var(--black);
  }
  #header .menu .footer {
    width: initial;
    justify-content: center;
  }
  #header .menu .footer hr {
    display: none;
  }
  #header .menu .footer > div {
    height: 100px;
  }
}
#footer {
  width: 100%;
  min-width: 320px;
  background-color: var(--dark-0);
  position: relative;
  flex-direction: column;
  padding: var(--space);
  align-items: center;
  color: var(--gray-0);
}
#footer > button {
  position: absolute;
  right: var(--space);
  background-color: var(--gray-6);
  box-shadow: var(--black) 0 3px 6px;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  outline: none;
  justify-content: center;
  align-items: center;
  top: -35px;
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#footer > button:hover {
  background-color: var(--white);
}
#footer .columns {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#footer .columns .links {
  display: none;
}
#footer .columns ul {
  margin: 0;
  padding: 0;
  width: 320px;
  flex-direction: column;
}
#footer .columns ul li {
  list-style: none;
  font-size: 16px;
  padding: 0.5em 0;
}
#footer .columns ul li a {
  color: var(--gray-0);
  text-decoration: none;
}
#footer .columns ul li.title {
  font-weight: bold;
  font-size: 20px;
}
#footer .columns ul li.social {
  align-items: center;
}
#footer .columns ul li.social a {
  margin-right: 1em;
}
#footer .columns ul li.social img {
  height: 24px;
}
#footer .columns .logo {
  margin: var(--space) 0;
}
#footer p {
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 1200px) {
  #footer {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
  }
  #footer .columns {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .columns .links {
    display: flex;
  }
  #footer .columns ul li a:hover {
    color: var(--white);
  }
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1ps solid transparent;
  border-radius: var(--border-radius);
}
.alert.danger {
  color: var(--danger-color);
  background-color: var(--danger);
  border-color: var(--danger-border);
}
.alert.success {
  color: var(--success-color);
  background-color: var(--success);
  border-color: var(--success-border);
}

#home {
  flex-direction: column;
  margin-top: -80px;
}
#home > header {
  width: 100%;
  min-width: 320px;
  min-height: 675px;
  height: 100vh;
  background-image: url("../images/ferrari-vermelha-1200.webp");
  background-size: cover;
  background-position-x: 80%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--space);
}
#home > header h1 {
  color: var(--white);
  font-size: 80px;
  font-weight: bold;
  text-align: right;
}
#home > header a {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  border: var(--white) 2px solid;
  color: var(--white);
}
#home > header a:hover {
  background-color: var(--black-10);
}
#home > header a:active {
  background-color: var(--black-75);
}
#home > header a:hover {
  background-color: var(--white);
  color: var(--black);
}
#home > header ul {
  display: none;
}
#home .gallery {
  min-width: 320px;
  flex-direction: column;
}
#home .gallery figure {
  width: 100%;
  margin: 0;
  margin-top: 1px;
  position: relative;
}
#home .gallery figure img {
  width: 100%;
}
#home .gallery figure figcaption {
  position: absolute;
  left: 0;
  bottom: var(--space);
  background-color: var(--black-75);
  color: var(--white);
  padding: var(--space);
}
#home .gallery figure figcaption h2, #home .gallery figure figcaption p {
  margin: 0;
}
#home .gallery figure figcaption h2 {
  font-size: 14px;
  font-weight: bold;
}
#home .gallery figure figcaption p {
  font-size: 9px;
  color: var(--gray-3);
}

@media (min-width: 576px) {
  #home .gallery {
    flex-direction: row;
  }
  #home > header ul {
    display: flex;
    color: var(--white);
    font-size: 30px;
    margin: 0;
    width: 440px;
    padding: unset;
    justify-content: space-around;
  }
  #home > header h1 {
    margin-top: unset;
  }
}
@media (min-width: 1200px) {
  #home {
    margin-top: -100px;
  }
  #home hr {
    top: 100px;
  }
  #home > header {
    max-height: initial;
    background-image: url("../images/ferrari-vermelha.webp");
  }
}
@media (min-width: 1920px) {
  #home > header {
    background-image: url("../images/ferrari-vermelha@2x.webp");
  }
}
#service {
  margin-top: var(--space);
  flex-direction: column;
}
#service h2 {
  padding: 0 var(--space);
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  color: var(--dark-0);
  text-transform: uppercase;
}
#service h2 small {
  color: var(--gray-2);
  display: block;
  font-size: 20px;
  font-weight: 600;
}
#service > img {
  width: 100%;
  margin: var(--space) 0;
}
#service > div {
  flex-direction: column;
}
#service > div a {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--green);
  color: var(--white);
  margin: 0 var(--space);
}
#service > div a:hover {
  background-color: var(--black-10);
}
#service > div a:active {
  background-color: var(--black-75);
}
#service > div a:hover {
  background-color: var(--green-hover);
}
#service > div a:active {
  background-color: var(--green-active);
}
#service > div .icons {
  flex-direction: column;
}
#service > div .icons figure {
  margin-top: var(--space);
  flex-direction: column;
  align-items: center;
}
#service > div .icons figure img {
  width: 100px;
}
#service > div .icons figure figcaption {
  margin: var(--space) auto;
  font-size: 16px;
  font-weight: bold;
  color: var(--gray-0);
}

@media (min-width: 768px) {
  #service > div {
    flex-direction: column-reverse;
  }
  #service > div .icons {
    flex-direction: row;
    justify-content: space-around;
  }
  #service > div .icons figure {
    margin: calc(5 * var(--space)) 0;
  }
  #service > div .icons figure img {
    width: 150px;
  }
  #service > div a {
    width: 200px;
    margin: calc(3 * var(--space)) auto;
    text-align: center;
  }
}
@media (min-width: 992px) {
  #service h2 {
    font-size: 60px;
  }
  #service h2 small {
    font-size: 35px;
  }
}
#contact {
  flex-direction: column;
}
#contact > h2 {
  font-size: 27px;
  font-weight: bold;
  color: var(--dark-0);
  text-transform: uppercase;
  margin: 0;
  padding: 0 var(--space);
}
#contact p {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-1);
}
#contact > section {
  flex-direction: column;
}
#contact #map {
  background-image: url("../images/mapa.png");
  height: 263px;
  width: 100%;
  margin-top: var(--space);
}
#contact .contacts {
  margin: 0;
  padding: var(--space);
  margin-top: var(--space);
  flex-direction: column;
}
#contact .contacts li {
  border: var(--gray-3) 1px solid;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  margin-bottom: calc(var(--space) * 3);
  text-align: center;
  color: var(--gray-1);
}
#contact .contacts li img {
  max-width: 100px;
  background-color: var(--white);
  margin: 0 auto;
  margin-top: -60px;
  padding: 0 var(--space);
}
#contact .contacts li p {
  margin: 0;
  font-size: 25px;
  font-weight: 300;
}
#contact .contacts li p.title {
  font-weight: 600;
  font-size: 24px;
}

@media (min-width: 992px) {
  #contact > h2 {
    font-size: 60px;
  }
  #contact > section {
    flex-direction: row;
  }
  #contact > section form, #contact > section #map {
    flex: 1;
  }
  #contact > section form {
    max-width: unset;
  }
  #contact > section form textarea {
    min-height: 160px;
    resize: vertical;
  }
  #contact > section #map {
    margin-left: 0;
    height: 570px;
  }
  #contact .contacts {
    flex-direction: row;
  }
  #contact .contacts li + li {
    margin-left: var(--space);
  }
}
@media (min-width: 1200px) {
  #contact > section form textarea {
    min-height: 245px;
  }
}
#error .columns, #error .column {
  flex-direction: column;
}
#error header {
  margin: 0;
  margin-top: 120px;
  padding: 0 50px;
  height: initial;
}
#error header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5em;
}
#error header h1 b {
  color: var(--red);
}
#error header h1 .desktop {
  display: none;
}
#error p {
  padding: 0 50px;
  font-size: 20px;
  color: var(--gray-0);
}
#error img {
  width: 100%;
  margin-bottom: 80px;
}

@media (min-width: 576px) {
  #error header {
    height: initial;
    min-height: initial;
    width: 100%;
  }
}
@media (min-width: 992px) {
  #error .columns {
    flex-direction: row;
    align-items: center;
  }
  #error img {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  #error header h1 .desktop {
    display: flex;
  }
  #error header h1 .mobile {
    display: none;
  }
  #error .column {
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}
#auth {
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#auth > section {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
}
#auth > section a {
  display: contents;
}
#auth > section a img {
  position: absolute;
  width: 100px;
  top: 40px;
  z-index: 1;
}
#auth > section form {
  margin-top: 170px;
  width: 100%;
  max-width: unset;
}
#auth > section form.hide {
  display: none;
}
#auth > section form .message {
  align-items: center;
  justify-content: center;
}
#auth > section form .message img {
  margin-right: 5px;
}
#auth > section form .message span {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-0);
}
#auth > section form h1 {
  text-align: center;
  color: var(--green);
  font-size: 28px;
  font-weight: 600;
  margin: var(--space) auto;
}
#auth > section form hr {
  width: 68px;
  border: none;
  border-top: 4px solid var(--red);
  margin-bottom: var(--space);
}
#auth > section form .actions {
  justify-content: space-between;
  align-items: center;
}
#auth > section form .actions > div {
  flex-direction: column;
}
#auth > section form .actions > div a {
  display: flex;
}
#auth > section form .actions .link {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-0);
  text-decoration: none;
}
#auth > section form .actions .link:hover {
  color: var(--gray-0);
}
#auth > section form .actions .link:active {
  color: var(--black);
}
#auth > section form#reset .actions {
  justify-content: flex-end;
}
#auth > section p {
  color: var(--gray-9);
  font-size: 16px;
}

@media (min-width: 500px) {
  #auth > section {
    width: 500px;
    height: initial;
  }
  #auth > section a img {
    top: 125px;
  }
  #auth > section form {
    border: var(--gray-8) 1px solid;
    border-radius: calc(2 * var(--border-radius));
    width: 100%;
    padding: 50px;
    padding-top: 100px;
  }
}
#change-photo form {
  align-items: center;
  margin-top: var(--space);
}
#change-photo form img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#change-photo form #file {
  display: none;
}
#change-photo form .choose-photo {
  margin: var(--space) 0;
  min-width: 256px;
}

@media (min-width: 1200px) {
  #change-photo form img {
    width: 256px;
    height: 256px;
  }
}
#change-password form .page-title {
  margin: 0;
}

#schedules main > div {
  flex-direction: column;
}
#schedules main > div ul {
  margin: 0;
  padding: 0 var(--space);
  flex-direction: column;
}
#schedules main > div ul li {
  flex-direction: column;
}
#schedules main > div ul li > section {
  flex-wrap: wrap;
}
#schedules main > div ul li > section > div {
  width: 50%;
  flex-direction: column;
}
#schedules main > div ul li > section > div label, #schedules main > div ul li > section > div span {
  font-size: 16px;
  margin: 10px 0;
  color: var(--dark-0);
}
#schedules main > div ul li > section > div label {
  font-weight: bold;
}
#schedules main > div ul li button {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--red);
  color: var(--white);
  max-width: 150px;
  align-self: center;
}
#schedules main > div ul li button:hover {
  background-color: var(--black-10);
}
#schedules main > div ul li button:active {
  background-color: var(--black-75);
}
#schedules main > div ul li button:hover {
  background-color: var(--red-hover);
}
#schedules main > div ul li button:active {
  background-color: var(--red-active);
}
#schedules main > div ul li + li {
  border-top: var(--gray-10) 1px solid;
  margin-top: 10px;
  padding-top: 10px;
}
#schedules footer.fixed {
  justify-content: center;
}
#schedules footer.fixed a {
  padding: 0 var(--space);
}

@media (min-width: 992px) {
  #schedules main > div ul li {
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
  }
  #schedules main > div ul li > section {
    flex-wrap: nowrap;
    flex: 1;
    max-width: 1000px;
  }
  #schedules main > div ul li > section > div {
    width: initial;
    min-width: 200px;
  }
  #schedules main > div ul li > section > div label {
    display: none;
  }
  #schedules main > div ul li > section > div.service {
    flex: 1;
  }
  #schedules main > div ul li button {
    align-self: flex-end;
  }
  #schedules main > div ul li:first-child > section > div label {
    display: flex;
  }
  #schedules footer.fixed {
    justify-content: flex-start;
  }
}
#time-options h3 {
  margin: 0;
  margin-bottom: var(--space);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
#time-options .options {
  justify-content: space-between;
  flex-wrap: wrap;
}
#time-options .options label {
  width: calc(50% - 10px);
  margin-bottom: var(--space);
}
#time-options .options label span {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  display: flex;
  width: 100%;
  background-color: var(--gray-10);
  color: var(--dark-0);
}
#time-options .options label span:hover {
  background-color: var(--black-10);
}
#time-options .options label span:active {
  background-color: var(--black-75);
}
#time-options .options label input {
  display: none;
}
#time-options .options label input:checked + span {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--blue);
  color: var(--white);
}
#time-options .options label input:checked + span:hover {
  background-color: var(--black-10);
}
#time-options .options label input:checked + span:active {
  background-color: var(--black-75);
}
#time-options .options label input:checked + span:hover {
  background-color: var(--blue-hover);
}
#time-options .options label input:checked + span:active {
  background-color: var(--blue-active);
}

@media (min-width: 1200px) {
  #time-options form {
    max-width: 900px;
  }
  #time-options .options {
    justify-content: flex-start;
  }
  #time-options .options label {
    width: calc(25% - var(--space));
    margin-right: var(--space);
  }
  #time-options h3 {
    font-size: 22px;
  }
}
#schedules-services .options {
  flex-direction: column;
  margin-top: var(--space);
}
#schedules-services .options label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--space);
}
#schedules-services .options label .square {
  width: 24px;
  height: 24px;
  border: var(--gray-10) 2px solid;
  justify-content: center;
  align-items: center;
}
#schedules-services .options label .square > div {
  width: 14px;
  height: 14px;
  background-color: var(--gray);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#schedules-services .options label:hover .square {
  border: var(--gray-8) 2px solid;
}
#schedules-services .options label:hover .square > div {
  opacity: 0.2;
}
#schedules-services .options label input {
  display: none;
}
#schedules-services .options label input:checked + .square > div {
  opacity: 1;
  background-color: var(--blue);
}
#schedules-services .options label .content {
  flex-direction: column;
  padding-left: 10px;
  font-size: 16px;
  color: var(--dark-0);
  line-height: 24px;
}
#schedules-services .options label .content .description {
  font-size: 14px;
  color: var(--gray-2);
}
#schedules-services .options label .content .price {
  font-weight: bold;
}

#schedules-summary form {
  margin-top: var(--space);
}

#schedules-payment {
  position: relative;
}
#schedules-payment > header {
  height: 260px;
  min-height: 260px;
  position: relative;
}
#schedules-payment > header h1 {
  display: none;
}
#schedules-payment > main {
  align-items: center;
}
#schedules-payment > main form {
  max-width: 100%;
}
#schedules-payment > main form .form-creditcard {
  margin-top: var(--space);
}
#schedules-payment > main form .form-creditcard .form-fields {
  flex-direction: column;
  width: 100%;
}
#schedules-payment > main form .form-creditcard .form-fields .fields {
  flex-direction: row;
  justify-content: space-between;
}
#schedules-payment > main form .form-creditcard .form-fields .fields .field {
  width: calc(50% - calc(var(--space) / 2));
}
#schedules-payment > main form .form-creditcard .form-card {
  position: absolute;
  top: 32px;
  width: 100%;
  left: 0;
  justify-content: center;
  perspective: 1000px;
}
#schedules-payment > main form .form-creditcard .form-card .faces {
  transform-style: preserve-3d;
  transition: transform 0.6s;
  width: 300px;
}
#schedules-payment > main form .form-creditcard .form-card .faces.flipped {
  transform: rotateY(180deg);
}
#schedules-payment > main form .form-creditcard .form-card .faces svg {
  width: 300px;
  position: absolute;
  backface-visibility: hidden;
}
#schedules-payment > main form .form-creditcard .form-card .faces svg.back .name {
  text-transform: uppercase;
}
#schedules-payment > main form .form-creditcard .form-card .faces .back {
  transform: rotateY(180deg);
}

@media (min-width: 1200px) {
  #schedules-payment {
    position: static;
  }
  #schedules-payment > header {
    height: 160px;
    min-height: 160px;
  }
  #schedules-payment > header h1 {
    display: block;
  }
  #schedules-payment > main {
    align-items: flex-start;
  }
  #schedules-payment > main form {
    max-width: 900px;
    justify-content: space-between;
  }
  #schedules-payment > main form .form-creditcard .form-card {
    position: static;
    justify-content: center;
    padding-left: var(--space);
  }
  #schedules-payment > main form .form-creditcard .form-card .faces {
    width: 100%;
    margin-top: -17px;
  }
  #schedules-payment > main form .form-creditcard .form-card .faces.flipped {
    transform: translateX(-76px) rotateY(180deg);
  }
  #schedules-payment > main form .form-creditcard .form-card .faces svg {
    width: 340px;
  }
}
#schedules-complete main p {
  margin: 0 var(--space);
  font-size: 22px;
  color: var(--gray-0);
  margin-bottom: var(--space);
}
#schedules-complete main p small {
  display: block;
  font-size: 16px;
}
#schedules-complete main footer.fixed {
  justify-content: center;
}
#schedules-complete main footer.fixed a {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--green);
  color: var(--white);
  padding: 0 var(--space);
}
#schedules-complete main footer.fixed a:hover {
  background-color: var(--black-10);
}
#schedules-complete main footer.fixed a:active {
  background-color: var(--black-75);
}
#schedules-complete main footer.fixed a:hover {
  background-color: var(--green-hover);
}
#schedules-complete main footer.fixed a:active {
  background-color: var(--green-active);
}

@media (min-width: 1200px) {
  #schedules-complete main footer.fixed {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=main.css.map */
